In [12]:
print("hello world")

hello world

In [1]:
num=5
while num>=0:
    print("I am learning")
    num-=1

I am learning
I am learning
I am learning
I am learning
I am learning
I am learning

In [2]:
price_value=[1,2,3,4]
sum=0 #intialization
for i in range(4):
    sum+=price_value[i]
print(sum)

10

In [1]:
for i in range (1,11):
    print("5*",i,"=",5*i)

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

In [23]:
sensor_1=int(input())
sensor_2=int(input())
if (sensor_1 & sensor_2):
    print("All lights ar ON")
elif (sensor_1|sensor_2):
    print("Lights are Partially ON ")
else:
    print("Lights are OFF")

Lights are Partially ON

In [24]:
list1=[1,2,3,4,5,6,7,8,9,0]
count=0
for i in list1:
    count+=1
print(count)

10

In [26]:
word="LIONEL MESSI"
for i in word:
    print(i)

L
I
O
N
E
L

M
E
S
S
I

In [32]:
list=["Lionel Messi","Luis Suarez","Neymar JR"," ","Xavi","Iniesta"]
for i in list:
    print(i)

Lionel Messi
Luis Suarez
Neymar JR

Xavi
Iniesta

In [33]:
#while loop
list1=[1,2,3,4,5,6,7,8,9]
count=0
index=0
while index<len(list1):
    count+=1
    index+=1
print(count)

9

In [ ]:
#while loop
#1.Get the user name and password
#2.Definr a std username and password
#3.Login Succesfully
#4.Attempts =3


username = "Tebin"
password = "1234"
attempts = 3
while attempts>0:
    
    username1 = input("enter the username: ")
    password1 = int(input("enter the password: "))
    if (username == username1 and password == password1):
        print ("login sucessful")
        break
    else:    
        attempts -=1
        print(f"Only {attempts} attempts there")
if (attempts==0):
    print("You  tried too many times ....Sorry Better luck next time!")

Only 2 attempts there
Only 1 attempts there

In [ ]:
#enter the bank balance
#enter the withdrawn amount
#first you define the pin number 
# then get the pin number from the user

correct_pin="3214"
bank_balanace=50
attempts=4

while attempts>0:
    entered_pin=(input("Enter the pin number : "))
    if entered_pin==correct_pin:
        print("Pin number is verified")
        withdraw=int(input("Enter the amount to be withdrawn : "))

        if withdraw<=bank_balanace:
             bank_balanace-=withdraw
             print(f"Withdrawn successfull , Remaining balance : {bank_balanace} ")
             break
        else:
              print("Insufficient Balance")

    else:
        attempts-=1
        if attempts>0:
              print(f"You have {attempts} attempts left")
        else:
             print("Too many attempts! Your account is temporarily Blocked")

Pin number is verified
Withdrawn successfull , Remaining balance : 15

:

In [ ]:
#use while loop
#get the feedback from the user
#If i give stop,It need to print like "thanks for your feedback"

while True:
    feedback=input("Write your Feedback(Type stop to stop the program): ")
    if (feedback=="stop"):
        print("Thanks for your Feedback!")
        
    else:
        print(feedback)
    break

In [1]:
#function-def keyword
#A variable used in the function definition.


def my_func(fname,lastname,age):
    print(f"Hello my name is {fname}  {lastname} and my age is {age}")
my_func("Razeen","p",20)

Hello my name is Razeen  p and my age is 20

In [2]:
#keyword arguments
def my_func(child1,child2,child3):
    print(f"The Child name is {child1}")
my_func(child1="Rishal",child2="Niranjan",child3="Aaaaa")

The Child name is Rishal

In [ ]:
#arbitary arguments - we dont know how many arguments we passed here -*args

def my_func(*childs):
    print(f"My child name is {childs[0]}")
my_func("rishal","jo","salman","afreed")

My child name is rishal

In [13]:
#arbitary keyword argument - **kwargs
#** denotes you can assign the key words

def myfunction(**fruits):
    print(f"The fruit feature is {fruits["shape"]}  ")

myfunction(fruitname="orange",color="orange",shape="circle")

The fruit feature is circle

In [18]:
def myfunction(country="india"):
    print(f"my country name is  {country}")
myfunction()
myfunction("usa")
myfunction("china")
myfunction()

my country name is  india
my country name is  usa
my country name is  china
my country name is  india

In [22]:
def my_func(x):
    return 5*x
my_func(5)
my_func(10)

50

In [20]:
def my_func(x):
    print(5*x)
my_func(5)
my_func(10)

25
50

In [8]:
#LEGB 
#L-LOCAL
#E-ENCLOSING
#G-GLOBAL
#B-BUILT IN FUNCTION


x="global"
def outer():
    x="Enclosing"
    def inner():
        x="local"
        print(x)
    inner()
outer()

local

In [1]:
#prime numbers= 2,3,5,7,11,13....

def primenumber(n):
    if (n<=1):
        return False
    for i in range (2,n):
        if (n%i==0):
            return False
    return True
for i in range (1,20):
    if primenumber(i):
        print(i)

2
3
5
7
11
13
17
19

In [39]:
#find the factorial number

def factorial(n):
    result=1
    for i in range (1,n+1):
        result*=i
    return result
factorial(5)

120

In [45]:
#palindrome

def palindrome(s):
    s.lower()
    if(s==s[::-1]):
        print("It is palindrome")
    else:
        print("It is not a palindrome")
palindrome("121")

It is palindrome

In [1]:
#List -Collection of data 
#It is ordered,mutable{we can modify},heterogenous

list1=["sachu","richu",24,25,27,2.33,"TRUE"]

#positive indexing - It starts with 0
#Negative indexing - It is a reverse order and start at -1
print(list1[::3]) #[start:stop:step]

['sachu', 25, 'TRUE']

In [21]:
#List methods
#append,extend,insert,pop,remove,copy,reverse,sort,clear

#append-add the value at the end of the list
#insert-you can add the element at any position
#extend-it can ensure to combine the list
#pop-remove the value based on index
#remove-you can mention the element
#copy-you can copy the list
#reverse-it will reverse the list of elements
#sort-it will arrange the elements by ascending or descending
#clear-clear the data

In [22]:
list1=["chachu","vichu",24,89,67.00,"True","False"]
list1.append("hi")
print(list1)

['chachu', 'vichu', 24, 89, 67.0, 'True', 'False', 'hi']

In [23]:
list1=["chachu","vichu",24,89,67.00,"True","False"]
list1.append("hi")
list1.insert(1,"Aadil")
list1.insert(5,"Godson")
print(list1)

['chachu', 'Aadil', 'vichu', 24, 89, 'Godson', 67.0, 'True', 'False', 'hi']

In [25]:
list1=["chachu","vichu",24,89,67.00,"True","False"]
list1.append("hi")
list1.insert(1,"Aadil")
list1.insert(5,"Godson")
list2=["ABC","Alexa",678.57]
list2.extend(list1)
print(list2)

['ABC', 'Alexa', 678.57, 'chachu', 'Aadil', 'vichu', 24, 89, 'Godson', 67.0, 'True', 'False', 'hi']

In [29]:
list1=["chachu","vichu",24,89,67.00,"True","False"]
list1.append("hi")
list1.insert(1,"Aadil")
list1.insert(5,"Godson")
list1.remove(24)
print(list1)

['chachu', 'Aadil', 'vichu', 89, 'Godson', 67.0, 'True', 'False', 'hi']

In [33]:
list1=["chachu","vichu",24,89,67.00,"True","False"]
list1.append("hi")
list1.insert(1,"Aadil")
list1.insert(5,"Godson")
print(list1)
list1.pop(2)
print(list1)

['chachu', 'Aadil', 'vichu', 24, 89, 'Godson', 67.0, 'True', 'False', 'hi']
['chachu', 'Aadil', 24, 89, 'Godson', 67.0, 'True', 'False', 'hi']

In [45]:
list1=["chachu","vichu",24,89,67.00,"True","False"]
list1.clear()
        
    
print(list1)

[]

In [54]:
#tuple()
#odered and immutable
#only two operations (Count,Index)

tuple1=("hello","razee","monee","sugam","alee","razee","razee")

print(tuple1)

print(tuple1[1:5])

print("count = ", tuple1.count("razee"))

print("index = ", tuple1.index("sugam"))

('hello', 'razee', 'monee', 'sugam', 'alee', 'razee', 'razee')
('razee', 'monee', 'sugam', 'alee')
count =  3
index =  3

In [64]:
#set-{},it doesnt allows the duplicates
#we couldnt perform the slicing
#There is no indexing
#Unordered
#Set methods- add,update,discard,remove,pop
#operations - union,intersection,difference

set1={1,2,2,2,3,5,6,6,6,7,9}
print(set1)
set1.add(11)
set1.update([12,13])
set1.discard(3)

print(set1)

{1, 2, 3, 5, 6, 7, 9}
{1, 2, 5, 6, 7, 9, 11, 12, 13}

In [68]:
set1={1,2,2,2,3,5,6,6,6,7,9,234}
set2={1,2,3,4,5,6,7,8,9,0,11,12,13}
print(set1)
print(set2)
print(set1.union(set2))
print(set1.difference(set2))

{1, 2, 3, 5, 6, 7, 9, 234}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 234}
{234}

In [1]:
#find the unique values
def unique_item(text):
    words=text.lower().split()
    unique=set(words)
    return len(unique)
unique_item("Python is great.Python is simple")

4

In [2]:
#find the unique values
def unique_item(text):
    words=text.lower().split()
    unique=set(words)
    return len(unique)
unique_item("Rashin is a good boy but sometimes rashin is a bad boy ")

8

In [10]:
#Remove duplicates from a list 
def remove_duplicates(nums):
    result=[]
    for i in nums:
        if i not in result:
            result.append(i)
    return result
print(remove_duplicates([1,1,1,2,3,5,8,9]))

[1, 2, 3, 5, 8, 9]

In [9]:
#print words longer than 3 letters from a list
list1=["Deepa","Kadhir","Joe","Sri","priya"]
for i in list1:
    if len(i)>3:
        print(i)

Deepa
Kadhir
priya

In [ ]:
#Dictionary
dict1={"name":"Tamil","dept":"Ai&Ds"}
print(dict1)
dict2={} #empty dictionary
print(dict2
      )

{'name': 'Tamil', 'dept': 'Ai&Ds'}
{}

In [4]:
#use "Dict" keyword

Dict3=dict(name="nihal",age=20) 
print(Dict3)

{'name': 'nihal', 'age': 20}

In [6]:
dict4=dict([("a",1),("b",2)])
print(dict4)

{'a': 1, 'b': 2}

In [ ]:
#important dictionary methods
#get,setdefault,update,items,keys,values
#1.get method 
#we can perform safe acces of the value

dict1={"name":"nihal","age":20,"dept":"AI&DS"}
print(dict1.get("Place","Kerala"))
print(dict1.get("Height",156))#it is for get method

Kerala
156

In [8]:
#setdefault method
dict1={"name":"nihal","age":20,"dept":"AI&DS"}
dict1.setdefault("email","abc@shanmugha.edu.in")
print(dict1)#once you use setdefault method, set the

{'name': 'nihal', 'age': 20, 'dept': 'AI&DS', 'email': 'abc@shanmugha.edu.in'}

In [ ]:
#update method
dict1={"name":"nihal","age":20,"dept":"AI&DS"}
dict1.update({"place":"kerala"})
print(dict1)
dict1["name"]="hemanth"
dict1["age"]=21
print(dict1)

{'name': 'nihal', 'age': 20, 'dept': 'AI&DS', 'place': 'kerala'}
{'name': 'hemanth', 'age': 21, 'dept': 'AI&DS', 'place': 'kerala'}

In [14]:
dict1={"name":"nihal","age":20,"dept":"AI&DS"}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'age', 'dept'])
dict_values(['nihal', 20, 'AI&DS'])
dict_items([('name', 'nihal'), ('age', 20), ('dept', 'AI&DS')])

In [16]:
#delete method - del, pop
dict1={"name":"nihal","age":20,"dept":"AI&DS"}
del dict1["name"]
print(dict1)

{'age': 20, 'dept': 'AI&DS'}

In [ ]:
#pop
dict1={"name":"nihal","age":20,"dept":"AI&DS"}
dict1.pop("height","none")
print(dict1)

{'name': 'nihal', 'age': 20, 'dept': 'AI&DS'}

In [6]:
#Frequency dictionary from text

text="Banana apple Banana apple kiwi"

dict1={}
for i in text.split():
    dict1[i]=dict1.get(i,0)+1
print(dict1)

{'Banana': 2, 'apple': 2, 'kiwi': 1}